<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>UTAHealthSurvey</display-name>
  <servlet>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>code.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/surveyadded</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>code.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/officiallogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fetchLocationData</servlet-name>
    <servlet-class>code.fetchLocationData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchLocationData</servlet-name>
    <url-pattern>/getlocationdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fetchTimeData</servlet-name>
    <servlet-class>code.fetchTimeData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchTimeData</servlet-name>
    <url-pattern>/gettimedata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fetchEnvData</servlet-name>
    <servlet-class>code.fetchEnvData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchEnvData</servlet-name>
    <url-pattern>/getenvdata</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>